.Home {

    .content {
        padding: 4rem 9rem 0rem 9rem;

        .content-inner {
            width: 100%;
            height: 100vh;
            background-color: black;


            .profile-section{

                
                .profile-social {

                }

            }

        }
    }
  
}