.Home {

    .content {
        padding: 4rem 9rem 0rem 9rem;

        .content-inner {
            padding-left:32px ;
            padding-right: 32px;
            width: 100%;
            height: auto;
            background-color: black;
            position: relative;
           

            .profile-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

               #profile__img {
                    width: 88px;
                    height: 88px;

                img {
                    width: 100%;
                    height: auto;
                }

               }

               span {
                position: absolute;
                top: 0;
                right: 13rem;
                margin-top: -1.5rem;

                img {
                    width: 40px;
                    height: 40px;
                }
               }
               
                
                .profile-social {
                    width: 100%;
                    div {
                        width: 100%;
                        height: 30px;
                        margin-top: 24px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: center;
                    }

                    #slack {
                        display: none;
                    }
                }

            }


            .links-section{
                margin-top: 56px;

                a {
                    text-decoration: none;
                    //width: 100%;
                    height: 76px;
                    background: #EAECF0;
                    border: 1px solid #EAECF0;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 24px 32px;
                    gap: 8px;
                    margin-bottom: 24px;
                    font-weight: 500;
                    font-size: 18px;
                    color: #101828;

                }
            }

        }
    }
  
}