.footer {
    margin-top: 64px;
    padding: 48px 80px 48px 80px;

    @media (max-width:900px) {
        padding: 48px 60px 48px 60px;
    }

    @media (max-width:600px) {
        padding: 48px 17px 48px 17px;
    }

    .footer-inner {
        padding-left: 32px;
        padding-right: 32px;
        height: auto;
        display: flex;
        justify-content:space-between;
        align-items:flex-end;

        @media (max-width:600px) {
            padding-left: 0px;
            padding-right: 0px;
            flex-direction: column;
            align-items: flex-start;

            span {
                margin-bottom: 10px;
            }
           
        }

        img {
            height: 32px;
            width: auto;

            @media (max-width:600px) {
                margin-bottom: 10px;
            }
        }
    }

}
